body{
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    margin: 0 auto;
    max-width: 1440px;
    margin: 0;
    font-weight: 400;
    background-color: #F5F5F6;
}

a{
    text-decoration: none;
    color:inherit;
}

.Main_Acess{
    text-align: center;
}

.Flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.Flex_row_form{
    display: flex;
    flex-direction: row;
    margin: 0.75vw 0;
    justify-content: space-between;
    width: 100%;
}

.Flex_row_form_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.Flex_row_form_checkbox{
    display: flex;
    flex-direction: row;
}

.Flex_row_form_checkbox label{
    padding: 0.5vw;
}


.Flex_row_center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.Flex_column{
    display: flex;
    flex-direction: column;
}

.Flex_column_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5vw;
    width: 50%;
}

.Flex_column_center img{
    width: 25%;
}

.Flex_box_T{
    width: 33%;
}

.Flex_box_img {
    width: 40%;
}

.Flex_box_img_modal{
    width: 50%;
}

.Flex_box_content{
    width: 50%;
}


.Flex_box_content_inv{
    width: 50%;
}

header{
    background: #bad6df;
    color: #500C69;
    padding: 1vw 4vw;
}

 main, footer{
    padding: 1vw 4vw;
}

ol{
    list-style-type: none;
}

header li, footer li{
    padding: .25vw; 
    background-color: #FFF;
    margin: 0.25vw 0;
    width: 35%;
    border-radius: 4px;
}
li a{
    font-weight: 500;
}

li a:hover {
    text-decoration: none;
    font-weight: bolder;
    font-weight: 700;
}

form{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;

}

input{
    background-origin: padding-box;
    box-sizing: border-box;
    border-radius: 2px 0 0 2px;
    border: none;
    text-align: right;
    padding: .75vw;
}

button{
    background-color: #500C69;
    color: #FFF;
    border: none;
    border-radius: 0 2px 2px 0;
    padding: .75vw;
}

button a{
    color: #FFF;
}

h1{
    text-align: center;
    font-size: 2.5vw;
}


main{
    margin: 1vw 2vw;
    text-align: center;
}

h2{
    font-size: 2vw;
    color: #500C69;
}

main p{
    text-align: left;
    font-size: 1.2vw;
}

img{
    width: 100%;
}

main button{
    border-radius: 4px;
}


main button::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700; 
    content: "\f29a";
    padding: .75vw;
}

h3{
    font-size: 1.4vw;
    color: #500C69;
    font-style: italic;
}

.card{
    background-color: #FFF;
    color: #757575;
    width: 15%;
    border: 2px solid #000;
    padding: 1vw;
    border-radius: 4px;
}

.card img {
    width: 70%;
}

.card q{
    font-style: italic;
}

.modal p, .modal q{
    font-size: 1.2vw;
    text-align: center;
}

.tableau{
    width: 70%;
    margin: 1vw auto;
}

table{
    width: 100%;
    border: 1px solid #8a8a8a;
    border-collapse : collapse;
    font-size: 1.2vw;
}

th, td, tr{
    border: 1px solid #8a8a8a; 
}

table caption{
    display: none;
}

.hidden {
    display: none;
  }
  
  [role="dialog"] {
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #000;
    background-color: #fff;
    min-height: 100vh;
  }
  
  @media screen and (min-width: 640px) {
    [role="dialog"] {
      position: absolute;
      top: 2rem;
      left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
      transform: translateX(
        -50%
      ); /* move backwards 50% of this element's width */
  
      min-width: calc(840px - (15px * 2)); /* == breakpoint - left+right margin */
      min-height: auto;
      box-shadow: 0 19px 38px rgb(0 0 0 / 12%), 0 15px 12px rgb(0 0 0 / 22%);
    }
  }
  
  .dialog_label {
    text-align: center;
  }
  
  .dialog_form {
    margin: 15px;
  }
  
  .dialog_form .label_text {
    box-sizing: border-box;
    padding-right: 0.5em;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 30%;
    text-align: right;
  }
  
  .dialog_form .label_info {
    box-sizing: border-box;
    padding-right: 0.5em;
    font-size: 12px;
    width: 30%;
    text-align: right;
    display: inline-block;
  }
  
  .dialog_form_item {
    margin: 10px 0;
    font-size: 0;
  }
  
  .dialog_form_item .wide_input {
    box-sizing: border-box;
    max-width: 70%;
    width: 27em;
  }
  
  .dialog_form_item .city_input {
    box-sizing: border-box;
    max-width: 70%;
    width: 17em;
  }
  
  .dialog_form_item .state_input {
    box-sizing: border-box;
    max-width: 70%;
    width: 15em;
  }
  
  .dialog_form_item .zip_input {
    box-sizing: border-box;
    max-width: 70%;
    width: 9em;
  }
  
  .dialog_form_actions {
    text-align: right;
    padding: 0 20px 20px;
  }
  
  .dialog_close_button {
    float: right;
    position: absolute;
    top: 10px;
    left: 92%;
    height: 25px;
  }
  
  .dialog_close_button img {
    border: 0;
  }
  
  .dialog_desc {
    padding: 10px 20px;
  }
  
  /* native <dialog> element uses the ::backdrop pseudo-element */
  
  /* dialog::backdrop, */
  .dialog-backdrop {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  @media screen and (min-width: 640px) {
    .dialog-backdrop {
      background: rgb(0 0 0 / 30%);
    }
  }
  
  .dialog-backdrop.active {
    display: block;
  }
  
  .no-scroll {
    overflow-y: auto !important;
  }
  
  /* this is added to the body when a dialog is open */
  .has-dialog {
    overflow: hidden;
  }
  
  /* styling for alert-dialog example */
  .notes {
    display: block;
    font-size: 1rem;
    line-height: 1.3;
    min-width: 400px;
    max-width: 100%;
    width: 33%;
  }
  
  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  
  #notes_save {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  #notes_save svg {
    display: block;
    width: 0.75rem;
  }
  
  #notes_save .icon {
    display: none;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  #notes_save.loading .spinner {
    display: block;
    animation: rotate 2s linear infinite;
  }
  
  #notes_save.saved .check {
    display: block;
  }

.buttonC{
    display: flex;
    justify-content: flex-end
}

#AccordionIncident{
    background-color: #500C69;
    color: #FFF;
    padding: .25vw;
}

#AccordionIncident button{
    color: #FFF;
    text-align: center;
    font-size: 2vw;
    margin: 0 auto;
}

#AccordionIncident button::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700; 
    content: "\f0dd";
    padding: .75vw;
}

#AccordionIncident button:focus{
    border: 1px double #FFF;
}

#FormIncident{
    width: 65%;
    margin: 0 auto;
    color: #500C69;
}

#FormIncident .Flex_row{
    margin: .5vw 1vw;
}

#FormIncident input{
    border: 1px solid #500C69;
    border-radius: 4px;
    padding: 0.25vw 1vw;
}

#FormIncident legend{
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5vw;
}

.Accordion{
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel{
    background-color: #F5F5F6;
    color: #000;
    display: none;
    overflow: hidden;
    padding: 0 3vw;
}


.active{
    display: block;
}

iframe{
    height: 100%;
    width: 100%;
}

footer{
    background: #bad6df;
}

footer i{
    color: #000;
    font-size: 2vw;
    padding: 1vw;
}